<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.whtth.idao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wh.whtth.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="idcard_num" property="idcardNum" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DOUBLE" />
    <result column="subaccout" property="subaccout" jdbcType="VARCHAR" />
    <result column="paypassword" property="paypassword" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, name, phonenum, nickname, idcard_num, user_type, balance, 
    subaccout, paypassword, picture, email, state
  </sql>
  <resultMap id="mapResultMap" type="java.util.Map"/>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    	id,name,phonenum,nickname,idcard_num,user_type,balance,picture,email
    from wh_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPhonenum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    id,name,phonenum,nickname,idcard_num,user_type,balance,picture,email
    from wh_user
    where phonenum = #{phonenum,jdbcType=VARCHAR}
  </select>

   <select id="selectByIdcard" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    id,name,phonenum,nickname,idcard_num,user_type,balance,picture,email
    from wh_user
    where idcard_num = #{idcard,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wh_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wh.whtth.model.User" >
    insert into wh_user (id, username, password, 
      name, phonenum, nickname, 
      idcard_num, user_type, balance, 
      subaccout, paypassword, picture, 
      email, state)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{idcardNum,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{balance,jdbcType=DOUBLE}, 
      #{subaccout,jdbcType=VARCHAR}, #{paypassword,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wh.whtth.model.User" >
    insert into wh_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="idcardNum != null" >
        idcard_num,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="subaccout != null" >
        subaccout,
      </if>
      <if test="paypassword != null" >
        paypassword,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="idcardNum != null" >
        #{idcardNum,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="subaccout != null" >
        #{subaccout,jdbcType=VARCHAR},
      </if>
      <if test="paypassword != null" >
        #{paypassword,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.whtth.model.User" >
    update wh_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="idcardNum != null" >
        idcard_num = #{idcardNum,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="subaccout != null" >
        subaccout = #{subaccout,jdbcType=VARCHAR},
      </if>
      <if test="paypassword != null" >
        paypassword = #{paypassword,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.whtth.model.User" >
    update wh_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      idcard_num = #{idcardNum,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DOUBLE},
      subaccout = #{subaccout,jdbcType=VARCHAR},
      paypassword = #{paypassword,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="login" resultType="java.util.Map">	    
		SELECT 
		    a.id,
		    a.name,
		    phonenum,
		    nickname,
		    idcard_num,
		    user_type,
		    balance,
		    a.picture,
		    email,
		    if(ifnull(paypassword,0)=0,0,1) hasPaypassword,
		    b.id shopid
		FROM
		    wh.wh_user a
		        LEFT JOIN
		    wh.wh_shop b ON a.id = b.userid
		WHERE
		    username = #{username,jdbcType=VARCHAR}
			AND password = #{password,jdbcType=VARCHAR}
			AND a.state = 1
  </select>
  
  <select id="listValidUser" resultMap="mapResultMap" parameterType="com.wh.whtth.vo.ViewVo">
	SELECT 
	    id,
	    name,
	    phonenum,
	    nickname,
	    case
		 when user_type = 0 then '管理员'
	     when user_type = 1 then '店家'
	     when user_type = 2 then '普通会员'
	     else '子会员'
	     end as user_type,
	    balance,
	    email
	FROM
	    wh.wh_user
	WHERE
	    state = 1
	order by id 
	limit #{start,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
  </select>
  
  <select id="countValidUser" resultType="java.lang.Integer">
  	SELECT 
	    count(1)
	FROM
	    wh.wh_user
	WHERE
	    state = 1
  </select>
  
  
   <select id="listInvalidUser" resultMap="mapResultMap" parameterType="com.wh.whtth.vo.ViewVo">
	SELECT 
	    id,
	    name,
	    phonenum,
	    nickname,
	    case
		 when user_type = 0 then '管理员'
	     when user_type = 1 then '店家'
	     when user_type = 2 then '普通会员'
	     else '子会员'
	     end as user_type,
	    balance,
	    email
	FROM
	    wh.wh_user
	WHERE
	    state = 0
	order by id 
	limit #{start,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
  </select>
  
  <select id="countInvalidUser" resultType="java.lang.Integer">
  	SELECT 
	    count(1)
	FROM
	    wh.wh_user
	WHERE
	    state = 0
  </select>
</mapper>